﻿@inherits AssessmentWebPage
@using WS.Assessment.Common;
@{
    AssessmentContext.AddModuleScript();
    AssessmentContext.AddBootstrapCss();
    AssessmentContext.AddBootstrapJs();
}

<a href="@Url.Action("Index")">Back</a>

<div class="Assessment"
     data-assessment="@(Newtonsoft.Json.JsonConvert.SerializeObject(AssessmentContext.Application))"
     data-moduleid="@Dnn.ActiveModule.ModuleID"
     data-security="@(Newtonsoft.Json.JsonConvert.SerializeObject(AssessmentContext.Security))"
     data-resources="@SerializedResources()">
</div>

