﻿@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<ApplicationAssessment>>

@using WS.Assessment.Models;

<div id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0)
    {
        <p>No Applications found.</p>
    }
    else
    {
        <ul class="tm_tl">
            @foreach (var item in Model)
            {
                <li class="tm_t">
                    <h3>@item.ApplicationNumber</h3>
                    <div class="tm_td">@item.ProjectName</div>
                    @{
                        <div>
                            <a href="@Url.Action("Assess", new { ctl = "Assess", id = item.ApplicationNumber })">Edit</a>
                        </div>
                    }
                </li>
                        }
        </ul>
                        }
</div>